.tap_button{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom:20%;
    margin: auto;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    border-radius: 50%;
    border: 10px solid rgb(0, 153, 255);
}
/* .tap_button:hover{
    cursor: pointer;
    transform: scale(1.1);
} */
.tap_button img{
    width: 100%;
}

.effect-container{
    position: absolute;
    overflow:hidden;
    bottom: 20%;

    --effect-name: ripple;
    --effect-duration: 1000ms;
    --effect-top:0px;
    --effect-left:0px;
    --effect-height:80px;
    --effect-width:80px;
    --effect-color:rgb(15, 15, 15);
}

.effect-container::before{
    content: "";
    position: absolute;
    opacity: 0.3;

    top: var(--effect-top);
    left: var(--effect-left);
    height:var(--effect-height);
    width: var(--effect-width);
    border-radius: 50%;
    transform: scale(0);
    background: var(--effect-color);
}
.effect-container.active::before{
    border-radius:50% ;
    animation: ripple var(--effect-duration) linear forwards;
}

@keyframes ripple{
  from{
    transform:scale(0);
  }  
  to{
    transform: scale(6);
    opacity: 0;
  }
}